body {
  margin: 0;
  padding: 0;
  background: #0f0f10;
  color: white;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  min-height: 100vh;
  background: rgb(186, 182, 182);
  background-size: cover;
  background-position: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*Topbar */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  gap: 20px;
}

.topbar h1 {
  font-size: 40px;
  color: black;
  margin: 0;
  position: relative;
  top: 30px;
}

.topbarActions {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  top: 30px;
}

.addBtn {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: #323232;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background: #1b1b1d;
}

/* Sidebar*/

.sidebar {
  width: 300px;
  border-right: 1px solid #242424;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px 25px;
  border-bottom: 1px solid #242424;
}

.logo h2 {
  color: black;
  font-size: 40px;
  margin: 0;
}

.logo p {
  margin-top: 8px;
  color: #151414;
  letter-spacing: 2px;
  font-size: 13px;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 260px;
  height: 50px;
  background: #323232;
  padding: 0 15px;
  border-radius: 10px;
}

.searchBox input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  font-family: inherit;
}

.searchBox input::placeholder {
  color: white;
  opacity: 1;
}

.tags h3 {
  margin-left: 35px;
  margin-bottom: 18px;
  color: black;
}

.tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags li {
  margin: 8px 20px;
  padding: 12px 18px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.tags li:hover {
  background: #1b1b1d;
  color: white;
}

.activeTag {
  background: transparent;
  color: black;
  font-weight: 600;
}

/* BookmarkGrid*/

.bookmarkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 24px;
  padding: 20px 40px 40px;
}

/* BookmarkCard */

.bookmarkCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  max-height: 240px;
  padding: 22px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 14px;
  backdrop-filter: blur(8px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.bookmarkCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardTitle {
  display: flex;
  flex-direction: column;
}

.cardTitle h3 {
  margin: 0 0 8px;
  font-size: 22px;
  color: black;
}

.cardTitle a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  word-break: break-word;
}

.cardActions {
  display: flex;
  gap: 10px;
}

.cardActions button {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.cardActions button:hover {
  color: #555;
}

.description {
  margin: 18px 0;
  color: black;
  line-height: 1.5;
  overflow: hidden;
}

.tagContainer {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tagContainer span {
  background: #1b1b1d;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
}
/* Add bookmark form*/

.formOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}

.formOverlay:not(.show) {
  display: none;
}

.addLinkForm {
  width: 100%;
  max-width: 420px;
  background: rgb(186, 182, 182);
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
}

.closeBtn {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.addLinkForm h2 {
  margin: 0 0 10px;
}

.addLinkForm input,
.addLinkForm textarea {
  width: 100%;
  padding: 14px 16px;
  border: none;
  border-radius: 10px;
  background: #2a2a2a;
  color: white;
  font-size: 15px;
  font-family: inherit;
}

.addLinkForm textarea {
  resize: none;
  min-height: 120px;
  max-height: 120px;
}

.addLinkForm button[type="submit"] {
  width: 230px;
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  align-self: center;
  border: none;
  border-radius: 10px;
  background: #1b1b1d;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.addLinkForm button[type="submit"]:hover {
  background: black;
}

/*Delete Modal*/

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.deleteModal {
  width: 360px;
  background: #222;
  border-radius: 14px;
  padding: 30px;
  text-align: center;
}

.deleteModal h2 {
  margin-bottom: 12px;
}

.deleteModal p {
  color: #bdbdbd;
  margin-bottom: 25px;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cancelBtn,
.deleteBtn {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cancelBtn {
  background: #666;
  color: white;
}

.cancelBtn:hover {
  background: #555;
}

.deleteBtn {
  background: #1b1b1d;
  color: white;
}

.deleteBtn:hover {
  background: black;
}

/*Empty State*/

.emptyBookmarks {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 20px;
  gap: 12px;
}

.emptyBookmarks h2 {
  font-size: 32px;
  color: black;
  margin: 0;
}

.emptyBookmarks p {
  color: #444;
  margin: 0;
}

.emptyAddBtn {
  margin-top: 8px;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;
  background: #323232;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.emptyAddBtn:hover {
  background: #1b1b1d;
}

/*Responsiveness*/

/* 1200px */

@media (max-width: 1200px) {
  .bookmarkGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .formOverlay {
    max-width: 400px;
    height: 70vh;
  }
}

/* 1024px */

@media (max-width: 1024px) {
  .sidebar {
    width: 250px;
  }

  .bookmarkGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .topbar {
    padding: 20px;
  }

  .topbar h1 {
    font-size: 34px;
  }
  .formOverlay {
    max-width: 380px;
    height: 68vh;
  }
}

/* 768px */

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #242424;
  }

  .bookmarkGrid {
    grid-template-columns: 1fr;
  }

  .topbar {
    padding: 20px;
  }

  .topbar h1 {
    font-size: 30px;
  }

  .addBtn {
    padding: 12px 18px;
  }

  .formOverlay {
    width: 90%;
    max-width: 360px;
    height: 65vh;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    border-radius: 12px 0 0 12px;
  }

  .formOverlay.show {
    right: 0;
  }
}

/* 480px */

@media (max-width: 480px) {
  .logo h2 {
    font-size: 30px;
  }

  .topbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .topbar h1 {
    font-size: 26px;
  }

  .bookmarkGrid {
    padding: 15px;
  }

  .bookmarkCard {
    min-height: 220px;
    max-height: 220px;
    padding: 18px;
  }

  .cardTitle h3 {
    font-size: 18px;
  }

  .description {
    font-size: 14px;
  }
  .formOverlay {
    width: 95%;
    max-width: none;
    height: 65vh;
  }

  .addLinkForm {
    padding: 22px;
  }
}

/* 320px */

@media (max-width: 320px) {
  .topbar h1 {
    font-size: 22px;
  }

  .logo h2 {
    font-size: 24px;
  }

  .searchBox {
    margin: 15px;
  }

  .bookmarkGrid {
    padding: 10px;
  }

  .bookmarkCard {
    padding: 15px;
  }

  .addBtn {
    width: 100%;
    justify-content: center;
  }

  .modalButtons {
    flex-direction: column;
  }

  .cancelBtn,
  .deleteBtn {
    width: 100%;
  }

  .formOverlay {
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    transform: none;
    border-radius: 0;
  }

  .formOverlay.show {
    right: 0;
  }

  .addLinkForm {
    padding: 18px;
  }
}
