body {
  background: #0f0f10;
  color: white;
}
.app {
  display: flex;
  min-height: 100vh;
  background-image: url("./assets/images/heroImage.png");
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  border-bottom: 1px solid #242424;
}

.topbar h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 42px;
}

.addBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  background: #735873;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background: #8d6d8d;
}

.sidebar {
  width: 280px;
  border-right: 1px solid #242424;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 25px;
  border-bottom: 1px solid #242424;
}

.logo h2 {
  color: black;
  font-size: 42px;
}

.logo p {
  color: #7d7d7d;
  letter-spacing: 2px;
  font-size: 13px;
}

.searchBox {
  margin: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1b1b1d;
  padding: 14px;
  border-radius: 10px;
}

.searchBox input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  outline: none;
}
.tags {
  padding: 10x;
}

.tags h3 {
  color: #0f0e0e;
  margin-bottom: 20px;
  position: relative;
  left: 35px;
}

.tags ul {
  list-style: none;
  color: #0f0e0e;
}

.tags li {
  padding: 5px 0;
  cursor: pointer;
}
.bookmarkCount {
  margin-top: auto;
  color: #666;
}

.bookmarkGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 25px;
  padding: 30px 40px;
  margin-top: 20px;
}

.bookmarkCard {
  background: rgb(115, 88, 115);
  border: 1px solid #2a2a2a;
  border-radius: 12px;
  padding: 20px;
  transition: 0.3s;
  height: 150px;
}

.bookmarkCard:hover {
  transform: translateY(-5px);
  border-color: rgb(129, 6, 129);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.cardTitle {
  display: flex;
  gap: 15px;
}

.cardTitle h3 {
  margin-bottom: 8px;
  font-size: 22px;
}

.cardTitle a {
  color: #888;
  text-decoration: none;
  font-size: 14px;
}

.cardActions {
  display: flex;
  gap: 10px;
}

.cardActions button {
  background: none;
  border: none;
  color: #bbb;
  cursor: pointer;
  font-size: 18px;
}

.cardActions button:hover {
  color: #e0af56;
}

.description {
  color: #b5b5b5;
  line-height: 1.6;
  margin: 20px 0;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tagContainer span {
  background: #2b2416;
  color: #e0af56;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 13px;
}

.formOverlay {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100vh;
  background: #1b1b1d;
  transition: 0.35s ease;
  z-index: 999;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.4);
}

.formOverlay.show {
  right: 0;
}

.addLinkForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 35px;
}

.closeBtn {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.addLinkForm h2 {
  margin-bottom: 10px;
}

.addLinkForm input,
.addLinkForm textarea {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #2a2a2a;
  color: white;
  font-size: 15px;
}

.addLinkForm textarea {
  resize: none;
}

.addLinkForm button[type="submit"] {
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #735873;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.addLinkForm button[type="submit"]:hover {
  background: #8a6b8a;
}
